{{ partial "header" . }}
<body>
    <div class="links">
        <a href="/"><img src="/initials.svg" alt="Pure Serendipity"></a>
        {{ partial "links" }}
    </div>
    <div class="content">
        {{if not .Params.hide_title}}<h2>{{.Title}}</h2>{{end}}
        {{.Content}}
    </div>

    <div class="social-media">
        <a href="https://facebook.com/Pureserendipityweddings"><i class="social-media-icon fab fa-facebook-square"></i></a>
        <a href="https://instagram.com/pureserendipityweddings/"><i class="social-media-icon fab fa-instagram-square"></i></a>
        <a href="https://pinterest.com/pureserendipityweddings/_saved/"><i class="social-media-icon fab fa-pinterest-square"></i></a>
    </div>

</body>
</html>
