<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="no-referrer-when-downgrade">
    <link rel="shortcut icon" href="/initials.svg">
    <title>{{.Title}} | Pure Serendipity Weddings</title>
    {{ $options := (dict "targetPath" "style.css" "outputStyle" "compressed" "enableSourceMap" true) }}
    {{ $style := resources.Get "sass/main.scss" | resources.ToCSS $options | fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
    <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@600&family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">
</head>
