{{ partial "header" }}
<body>
    {{- $image := resources.Get "images/040.jpg" -}}
    {{- $image = ($image.Filter images.Grayscale).Resize "2000x" }}
    <div class="home-header" style='background: url("{{ $image.RelPermalink }}") no-repeat center center/cover fixed;'>
        <picture>
            <source srcset="/images/logo-stacked.svg" media="(min-width: 1400px)"/>
            <source srcset="/images/logo-horizontal.svg" media="(min-width: 600px)"/>
            <img src="/images/logo-stacked.svg" alt="Pure Serendipity"/>
            <!--<h2 style="width: 100%; text-align: center;">Weddings and Events</h2>-->
        </picture>
        <div class="down-container">
            <a href="#nav">
                <i class="fas fa-2x fa-chevron-down"></i>
            </a>
        </div>
    </div>
    <div class="links" id="nav">
        {{ partial "links"}}
    </div>
    <div class="content">
        <div class="center">
            <img class="logo-centered" src="/images/logo-horizontal-black.svg">
        </div>
        <h2 class="center" style="margin-top: -25px;">Weddings and Events</h2>
        <p class="center" style="font-size: 1.5em;">Welcome, we're so happy you're here!</p>
        <div class="gallery">
            {{- $images := slice "invite_flowers.jpg" "326.jpg" "220.jpg" -}}
            {{ range $images }}
                {{- $path := printf "images/%s" .}}
                {{- $image := resources.Get $path -}}
                {{- $image = $image.Resize "x500" }}
                <img src="{{ $image.RelPermalink }}" />
            {{ end }}
        </div>
        <div class="links-grid">
            <div><img src='{{- ((resources.Get "images/023.jpg").Fill "500x500 smart").RelPermalink -}}' alt="Bouquet"></div>
            <div>
                <a href="/about/">
                    <h3>Get to Know Us</h3>
                    <p>We can't wait to get to know you, but in the meantime, you can read some about us!</p>
                </a>
            </div>
            <div><img src='{{- ((resources.Get "images/304.jpg").Fill "500x500 center").RelPermalink -}}' alt="Cake closeup"></div>
            <div style="grid-">
                <a href="/packages/">
                    <h3>Our Services</h3>
                    <p>View our fully customizable packages</p>
                </a>
            </div>
            <div><img src='{{- ((resources.Get "images/001.jpg").Fill "500x500 center").RelPermalink -}}' alt="Interior of church"></div>
            <div>
                <a href="/contact/">
                    <h3>Let's Get Started!</h3>
                    <p>We'll schedule a complimentary consultation to start creating your dream day!</p>
                </a>
            </div>
        </div>
    </div>
</body>
</html>
