{{ partial "header" }}
<style>* { color: white !important; }</style>
<body style="background: url('https://lh3.googleusercontent.com/v5Jnl4ehmeik5GvAZ0LDH6VGITo95xAPDHTGiR9pDoyuHGGtMv63G5mnOc9IltybOym1rlJ_P18UGVRDXeTJNPFFbraVJKjCzTQq65jGP7QzBOEkxcczgKIwL68LQorov4cOUv2Nhi5-10DZif9A99Z7QZ8RFKIP_ySt7gJQTUD0eI4oSE7uZrGjooJeJsk0odnBkSwgCeQ4AECb6cKWv-Wf1NZwHsQI2hw22cPly4M_57XOecPhL_t5rOE_rsxe8zpqeL2H8S--3fnw32-YGyGeX2X_eQ_ZLKRlr3T1FV3flB2L6MwxBP1Dl7ESvxqypohgl27Ur4Ut0OHm3sTcR7iG9moQsfchREJXcb5FqeAArNuoFydkd1GgBxoeXCM9bMtuO_QLN7mIXuPnjfalDz_nBVCi_78PibfSeK6Yt3l8B7L-w5A4HimO8i4ILes0qGhuHXQ50kO3K-sBQ1Pp6iSLvxY47y0cZjyNkEbkbmYgMWfCLIRBGzjaDj1VM0FAlX1VIm9KyBAH6ZGSaXyUXnkEwBlCmJ97wINYwmbf_-cx7FryXgeb-vjnTx5FbXXJqRQrjs9pC-M2xwPp4hKtJv69Z3P6KGpclNHXFn3XAgj53pZXeOJAvyH4FWwIvB4_jh1M0IkyTeb26x8Js6GUcn6XELTJcGdgPkhjfKwUJ1af0RpjQeHos-aN16RBe2DpxZHtRENz673Wn3tZEOUgL9eRpA=w1310-h982-no?authuser=0') no-repeat center center fixed; background-size: cover;">
    <img class="cover" src="title.svg" style="filter: drop-shadow(0 0 4px #000);" alt="Pure Serendipity">
    <h2 style="text-align: center;">Weddings and Events</h2>
    <div class="links" style="filter: drop-shadow(0 0 8px #000);">
        {{ partial "links"}}
    </div>
</body>
</html>
